@(usage: Usage)

@main("Power Bill Saving Comparison") {

<div class="container">

<h1><img src="/assets/images/moneybags.jpg" style="width:80px" /> How to Lower Your Power Bill AKA Save Money</h1>


<br />
<br />
<h2><img src="/assets/images/money.png" style="width:50px" />Suggested Action</h2>

<h3><img src="/assets/images/chart.png" style="width:30px" />Switch to Billing Tarrif "EVTOU2" (<a href="http://www.sdge.com/clean-energy/ev-rates">SDGE.com</a>)</h3>
<h3><img src="/assets/images/sun.png" style="width:30px" />Lease Solar Panels (<a href="#">affiliate link</a>)</h3>
<h3><img src="/assets/images/lightningbolt.png" style="width:30px" />Subscribe to Lower Your Power Bill Service (<a href="#">ATT Subscribe API link</a>)</h3>

<br />
<br />

<h2><img src="/assets/images/money.png" style="width:50px" /> Savings Estimate @usage.months.length months</h2>


<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Total Charges if using DR2</th>
      <th>Total Charges if using EVTOU2</th>
      <th>EVTOU2 Savings</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <td class="highlight">$ @usage.totalAmtDR2</td>
      <td class="highlight">$ @usage.totalAmtEVTOU2</td>
      <td class="highlight">$ @usage.savingsTOU</td>
    </tr>
	
  </tbody>
</table>

<h2><img src="/assets/images/money.png" style="width:50px" />  DR2 Bill Estimate</h2>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Total Usage</th>
      <th>Total Bill</th>
      <th>Tier 1 Usage</th>
      <th>Tier 1 Charges</th>
      <th>Tier 2 Usage</th>
      <th>Tier 2 Charges</th>
      <th>Tier 3 Usage</th>
      <th>Tier 3 Charges</th>
      <th>Tier 4 Usage</th>
      <th>Tier 4 Charges</th>
    </tr>
  </thead>
  <tbody>
  
	@for(monthlyBillDR2 <- usage.billsDR2){
    <tr>
      <td>@monthlyBillDR2(0)</td>
      <td>$ @monthlyBillDR2(1)</td>
      <td>@monthlyBillDR2(2)</td>
      <td>$ @monthlyBillDR2(3)</td>
      <td>@monthlyBillDR2(4)</td>
      <td>$ @monthlyBillDR2(5)</td>
      <td>@monthlyBillDR2(6)</td>
      <td>$ @monthlyBillDR2(7)</td>
      <td>@monthlyBillDR2(8)</td>
      <td>$ @monthlyBillDR2(9)</td>
    </tr>
	}
	
  </tbody>
</table>


<h2><img src="/assets/images/money.png" style="width:50px" />  EVTOU2 Bill Estimate</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Total Bill</th>
      <th>Off Peak Charges</th>
      <th>On Peak Charges</th>
      <th>Super Off Peak Charges</th>
    </tr>
  </thead>
  <tbody>
  
	@for(monthlyBill <- usage.billsEVTOU2){
    <tr>
      <td>$ @monthlyBill(0)</td>
      <td>$ @monthlyBill(1)</td>
      <td>$ @monthlyBill(2)</td>
      <td>$ @monthlyBill(3)</td>
    </tr>
	}
	
  </tbody>
</table>

</div>

}
