@main("Login") {

<div class="container">

	<h1><img src="/assets/images/powerplug.png" style="width:50px" />Welcome To<br />How to Lower Your Power Bill AKA Save Money</h1>

	<br /><br /><br /><br />
	
	<form action="/user/70" class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" class="input-block-level" placeholder="Email address">
		<input type="password" class="input-block-level" placeholder="Password">
		<label class="checkbox">
		  <input type="checkbox" value="remember-me"> Remember me
		</label>
		<button class="btn btn-large btn-primary" type="submit">Analyze My Power Bill</button>
	</form>
</div>
}
